[Unit]
Description=SenseHatMonitor monitors sensors on the SenseHAT

[Service]
Type=simple
User=pi
ExecStart=/usr/local/bin/SenseHatMonitor

[Install]
WantedBy=multi-user.target
